/*General Styling*/
body{
	margin: 0px;
	background-color: #eee;
}

p{
	font-family:  Tahoma, Verdana, sans-serif;
	line-height: 1.7em;
}
h2{
	text-align: left;
	font-family: Helvetica, sans-serif;
	font-size: 28px;
}
article{
	width: 80%;
	margin-top: 2em;
	margin-bottom: 2em;
}
.body{
	width: 80%;
	align-content: center;
	justify-content: center;
	margin: auto;
}
/* Header Stylings */
.title{
	align-content: left;
	width: 65%;
}
header{
	font-size: 48px;
	text-align: justify;
	background-image: url("header.png");
	background-position: auto;
	background-size: 100%;
	border: 0px;
	margin: 0px;
	padding: 8px;
	color: #fff;
	font-family: Georgia, serif;
	background-repeat: no-repeat;
}
/*Navigation Bar Styling*/
nav{
	background-color: #8C162E;
	padding: 15px;
  	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin-bottom: 4em;
}
ul{
	margin: 0px;
	list-style: none;
	font-family: Garamond, serif
	font-size: 16px;
	text-align: center;
}
nav li{
	list-style: none;
	display: inline;
	padding-right: 25px;
	outline-width: 20%;
	font-family: Georgia, serif;
	font-size: 24px;
	padding: 15px;
	width: 20%;
	margin: auto;

}
.navli:hover{
	color: #8C162E;
	text-decoration-style: none;
	background-color: #1C162E;
	padding: 15px;
}
/* Link Stylings */
a{
	color: #1C162E;
	text-decoration: none;
}
a: hover{
	color:#1C162E;
}
a: visited{
	color: #1C162E;
	text-decoration-style: none;
}
/* Grid Styles*/
.container{
	display: grid;
  	grid-template-columns: auto auto auto;
  	background-color: #eee;
  	padding: 10px;
}
.container p{
	text-align: justify;
	box-sizing: border-box;
	padding: 5px;
}
.grid{
	padding: 15px;
	box-sizing: border-box;
}
.grimg{
	width: 80%;
	display: block;
	margin: auto;
	align-content: center;
}
h4{
	font-size: 20px;
	text-align: center;
	color: #400F25;
	font-family: Tahoma, sans-serif;
}
button{
	padding: 6px 18px;
	background-color: #8C162E;
	color: white;
	border-color: none;
}
.list{
	display: block;
	padding: 5px;
	font-family:  Tahoma, Verdana, sans-serif;
}
/* FAQ specific */
.qa{
	margin-bottom: 25px;
	width: 60%;
}
h3{
	color: #1C162E;
	font-family: Helvetica, sans-serif;
}
/* Footer Specific */
footer{
	background-color: #8C162E;
	color: white;
	margin-top: 10em;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.foot{
	text-align: center;
	font-family: serif;
}
/*Making it somewhat responsive for devices*/
@media(max-width: 600px){
	.body{
		width: 90%;
		margin: auto;
		text-align: justify;
		align-content: center;
	}
	.container{
		display: block;
	}
	.title{
		width: 100%;
		margin: auto;
	}
	nav li{
		padding: 0px;
		font-size: 18px;
		width: 20%;
		font-size: 14px;
	}
	nav ul{
		padding: 0px; 
	}
	article{
		align-content: center;
		width: 100%;
		margin: 0px;
	}
	.qa{
		width: 100%;
	}
	p{
		display: block;
		width: 100%;
	}
}
@media (max-width: 900px) and (min-width: 601px){
	.container{
		display: block;
	}
	.body{
		width: 90%;
	}
	.qa{
		width: 100%;
}